@import "tailwindcss";

@layer components {
  :root {
    /* 1. Definiujemy Paletę Luma Lab */
    --color-carbon: #1E2022;
    --color-ivory: #F5F3EE;
    --color-laser: #FF4D00;

    /* 2. Podpinamy Fonty z Next.js */
    /* To mapuje zmienną CSS z layout.tsx na klasę font-oswald */
    --font-oswald: var(--font-oswald);
    --font-sans: var(--font-inter);
  }
}

/* 3. Domyślny styl strony */
/* Używamy zmiennych zdefiniowanych wyżej */
body {
  background-color: var(--color-carbon);
  color: var(--color-ivory);
  font-family: var(--font-sans);
}